.div1 {
    width: 100px;
    height: 100px;
    background-color: aqua;
}
.div1:hover {
    background-color: hotpink;
    width: 150px;
    height: 150px;
}

.div1:active { 
    background-color: brown;
    width: 200px;

}
input:focus {

}
h1:hover {
    color: red;
} 

a:active {
    background-color: blue;
}

input:focus {
    background-color: orange;
}

.zoo > * {
    background-color: green;
    color: white;
}

.zoo > *:first-child {
    background-color: red;
}

.zoo > *:last-child {
    background-color: black;
}

.zoo > *:nth-child(2) {
    background-color: aqua;
}



.stripes > * {
    background-color: navy;
    color: white;
}


.box::before {
    content: "택시"
}

.box::after {
    content: "빨리"
}

/*/ 가상 요소 가상 클래스 */

[disabled] {
    background-color: red;
}

[placeholder="이름"] {
    background-color: orange;
}

h3:hover {
    color: white;
    background-color: black;
}

textarea:focus {
    background-color: rgb(255, 234, 238);
}

input#red:active + label {
    background-color: red;
}

input#blue:active + label {
    background-color: blue;
}

input#yellow:active + label 
{
    background-color: yellow;
}
button:active {
    background-color: rgb(255, 105, 105);
    color: white;
}