body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  fieldset {
    border: 1px solid #ccc;
    padding: 40px 20px;
    width: 400px;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  legend {
    font-size: 1.2em;
    padding: 0 10px;
    font-weight: bold;
  }
  
  .register {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
    width: 100%;
  }
  
  .profile-picture-container {
    margin-bottom: 10px;
    text-align: center;
    position: relative;
  }
  
  .profile-picture-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  
  .upload-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .upload-icon img {
    width: 20px;
    height: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .nickname-container, .id-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 20px;
  }
  
  input[type="text"], input[type="id"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 130px);
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #606060; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #2f2f2f; 
  }
  
  a {
    display: block;
    margin-top: 10px;
    text-align: start;
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  