<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '회원가입' })%>
  <body>
    <h1>회원가입</h1>
    <form name="form_register">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="password" required /><br />
      <label for="nickname">Nickname </label>
      <input id="username" type="text" name="name" required /><br />
      <button type="button" onclick="register();">Register</button>
    </form>
    <a href="/user/signin">Login</a>

    <script>
      function register() {
        const form = document.forms['form_register'];

        axios({
          method: 'POST',
          url: '/user/signup',
          data:{
            userid: form.userid.value,
            pw: form.password.value,
            name: form.nickname.value
          }
        }).then((res)=>{
          console.log(res);
          editCancel();
        }).catch((error) => {
          console.error('Error in register:', error);
          if (error.response && error.response.data) {
            alert(error.response.data.message);
          }
        });
      }

      function editCancel() {
        c
        
        
        const form = document.forms['form_register'];
        form.userid.value = '';
        form.password.value = '';
        form.nickname.value = '';
      }

      async function checkUserId() {
            const u_id = document.getElementById('u_id').value;
            const response = await fetch(`/check-userid?u_id=${u_id}`);
            const result = await response.json();
            
            const message = response.status === 200 ? result.message : '이미 사용중인 아이디입니다.';
            document.getElementById('userid-check').textContent = message;
        }

        async function checkUserName() {
            const name = document.getElementById('name').value;
            const response = await fetch(`/check-username?name=${name}`);
            const result = await response.json();
            
            const message = response.status === 200 ? result.message : '이미 사용중인 닉네임입니다.';
            document.getElementById('username-check').textContent = message;
        }
    </script>
  </body>
</html>
