<!-- views/include/include.ejs -->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <style>
    .logo-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo-container img {
  max-width: 100px; /* 필요에 따라 크기를 조정하세요 */
  height: auto;
}

  </style>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

    <header>
        <div class="logo-container">
          <a href="/">
            <img src="../image/logo2.gif" alt="The Check Card Logo">
          </a>
        </div>
      </header>


  <!-- 로그인 버튼과 관련된 섹션 제거 -->
  <script>
      function checkLoginStatus() {
          fetch('/user/checkLoginStatus')
              .then(response => response.json())
              .then(data => {
                  // 로그인 상태 확인 로직 제거
              });
      }

      document.addEventListener('DOMContentLoaded', () => {
          checkLoginStatus();

          window.addEventListener('popstate', () => {
              checkLoginStatus();
          });
      });
  </script>
</body>
